$primary-bg-clr: #1c1c1c;
$light-solid-bg-clr: #252525;
$overlay-bg-clr: rgba(255, 255, 255, 0.04);
$overlay-strong-clr: rgba(255, 255, 255, 0.24);
$line-clr: #303030;
$logo-green-clr: #6a8d92;

$primary-clr: #ededed;
$accent-red-clr: #ef476f;
$accent-green-clr: #bed8d4;
