/* COLOR VARIABLES */

/* Background colors */
$primary-bg-clr: #1c1c1c;
$light-solid-bg-clr: #252525;
$overlay-bg-clr: rgba(255, 255, 255, 0.04);
$overlay-strong-clr: rgba(255, 255, 255, 0.24);
$line-clr: #303030;

/* Text colors */
$primary-clr: #ededed;
$accent-red-clr: #ef476f;
$accent-green-clr: #bed8d4;

:root {
   font-size: 16px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: $primary-bg-clr;
   color: $primary-clr;
   font-family: "Montserrat", sans-serif;
   overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Barlow Condensed", sans-serif;
   text-transform: uppercase;
   font-weight: 300;
}

h1 {
   font-size: 2.986rem;
}

h2 {
   font-size: 2.488rem;
}

h3 {
   font-size: 2.074rem;
}

h4 {
   font-size: 1.728rem;
}

h5 {
   font-size: 1.44rem;
}

h6 {
   font-size: 1.2rem;
}

a {
   text-decoration: none;
   color: $accent-red-clr;
}

img {
   max-width: 100%;
}

.container {
   max-width: 95%;
   width: 95%;
   margin: 0 auto;

   &--fullwidth {
      min-width: 100vw;
      max-width: 100vw;
   }

   &--narrow {
      display: block;
      max-width: 50%;
      margin-right: auto;
      margin-left: auto;
   }
}

.semi-trans {
   background-color: $overlay-bg-clr;
}
.bg_light {
   background-color: $accent-green-clr;
}

/* Text hilights and more */
.hilight--red {
   color: $accent-red-clr;
}
.hilight--medium {
   font-weight: 500;
}
.hilight--semi-bold {
   font-weight: 600;
}
.hilight--bold {
   font-weight: 700;
}
.hilight--black {
   font-weight: 900;
}
.hilight--italic {
   font-style: italic;
}
.dark_text {
   color: $primary-bg-clr;
}
.all_caps {
   text-transform: uppercase;
}
.barlow {
   font-family: "Barlow Condensed", sans-serif;
}

/* BUTTON STYLES */
.btn {
   display: block;
   background-color: $primary-clr;
   color: $primary-bg-clr;
   padding: 1rem 3rem;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   min-width: 85vw;
   border: 3px solid $primary-clr;
   border-radius: 4px;
   transition: all 0.15s ease-in;
   text-align: center;
}

.btn--red {
   background-color: $accent-red-clr;
   border: 3px solid $accent-red-clr;
   color: $primary-clr;
}

.btn--outline {
   background-color: transparent;
   border: 3px solid $accent-red-clr;
   color: $primary-clr;
}

.btn:hover {
   background-color: $primary-clr;
   color: $primary-bg-clr;
   border: 3px solid $primary-clr;
}

.btn--outline:hover {
   background-color: $primary-clr;
   border: 3px solid $primary-clr;
   color: $primary-bg-clr;
}

.btn + .btn {
   margin-top: 1.5rem;
}

.read-more-link {
   font-family: "Barlow Condensed", sans-serif;
   font-size: 1.5rem;
   display: inline-block;
   margin-bottom: 2rem;
}
