.project_overview {
   display: block;

   &_grid {
      @mixin atLarge {
         display: grid;
         grid-template-columns: 50% 1fr;
         grid-template-rows: auto;
      }
   }
}

.project_overview:nth-child(n + 1) {
   margin-top: 3rem;
}

.project_overview_grid_right {
   background-color: $overlay-bg-clr;
   padding-right: 0.5em;
   padding-left: 0.5em;

   @mixin atMedium {
      padding: 2rem;
   }
}
